<div class="column">
	<nav class="panel">
		<p class="panel-heading">People to follow</p>		
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32*32">
					<img src="https://bulma.io/image/placeholders/64*64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Layla Conner</strong>
						<small>@laylaconner</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32*32">
					<img src="https://bulma.io/image/placeholders/64*64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Layla Conner</strong>
						<small>@laylaconner</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32*32">
					<img src="https://bulma.io/image/placeholders/64*64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Layla Conner</strong>
						<small>@laylaconner</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>